@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-50: 255 245 250;
        --color-primary-100: 255 235 245;
        --color-primary-200: 254 210 234;
        --color-primary-300: 254 180 219;
        --color-primary-400: 253 145 203;
        --color-primary-500: 252 90 176;
        --color-primary-600: 226 4 121;
        --color-primary-700: 195 3 106;
        --color-primary-800: 165 3 90;
        --color-primary-900: 115 2 62;
        --color-primary-950: 80 1 43;
    }
}

@media (min-height: 820px) and (max-height: 899px) {
    .hot-left-arrow {
        margin-top: 206px !important;
    }
}
@media (min-height: 768px) and (max-height: 819px) {
    .hot-left-arrow {
        margin-top: 166px !important;
    }
}
@media (max-height: 767px) {
    .hot-left-arrow {
        margin-top: 75px !important;
    }
}

.tada {
    animation-name: tada;
    animation-duration: 1s;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
        background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, black);
        background-size: 1000% 100%;
        background-position: 0% 25%;
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -1deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 1deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, -1deg);
    }

    99% {
        background-position: 100% 100%;
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.thinking:before {
    content: "[=---]";
    font: "monospace";
    animation: thinking 2s infinite 0s;
}

@keyframes thinking {
    7% {
        content: "[=---]";
    }
    14% {
        content: "[==--]";
    }
    21% {
        content: "[===-]";
    }
    28% {
        content: "[====]";
    }
    35% {
        content: "[-===]";
    }
    42% {
        content: "[--==]";
    }
    50% {
        content: "[---=]";
    }
    57% {
        content: "[----]";
    }
    64% {
        content: "[---=]";
    }
    71% {
        content: "[--==]";
    }
    78% {
        content: "[-===]";
    }
    85% {
        content: "[====]";
    }
    92% {
        content: "[===-]";
    }
    99% {
        content: "[==--]";
    }
    100% {
        content: "[=---]";
    }
}

.fade-in {
    animation: fade-in var(--duration, 200ms);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.airdrop-cloud {
    animation: cloud-bounce 20s infinite;
}

@keyframes cloud-bounce {
    0% {
        opacity: 0;
        transform: translateX(calc(var(--x, 0) * 3));
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(calc(var(--x, 0)));
    }
}

.slide-up {
		animation: slide-up 10s ease-in-out infinite;
		animation-delay: var(--animation-delay, 0s);
}

@keyframes slide-up {
		0% {
			opacity: 1;
			transform: translateY(0%);
		}
		10% {
			opacity: 1;
			transform: translateY(-260%);
		}
		50% {
			opacity: 1;
			transform: translateY(-260%);
		}
		55% {
			opacity: 1;
			transform: translateY(-500%);
		}
		59% {
			opacity: 0;
			transform: translateY(-500%);
		}
		60% {
			opacity: 0;
			transform: translateY(0%);
		}
		100% {
			opacity: 0;
			transform: translateY(0%);
		}
}

.pump-button {
		background: radial-gradient(circle, #da60a2 0%, #e2017b 100%);
		box-shadow:
			0px 2px 1px 0px #ffffff40 inset,
			0px -4px 2px 0px #00000040 inset,
			0px 0px 1px 4px #ffffff1a,
			0px 0px 100px 0px #e2017b80,
			0px 0px 100px 0px #e2017b80;
}

.pump-button:active {
		background: radial-gradient(circle, #da60a2 0%, #a6015a 100%);
		box-shadow:
			0px 2px 1px 0px #ffffff40 inset,
			0px -4px 2px 0px #00000040 inset,
			0px 0px 1px 4px #ffffff1a,
			0px 0px 100px 0px #e2017b80;
}

.dump-button {
		background: radial-gradient(circle, #7da9ee 0%, #2e7cf6 100%);
		box-shadow:
			0px 2px 1px 0px #ffffff40 inset,
			0px -4px 2px 0px #00000040 inset,
			0px 0px 1px 4px #ffffff1a,
			0px 0px 100px 0px #2e7cf680;
}

.dump-button:active {
		background: radial-gradient(circle, #7da9ee 0%, #0644a4 100%);
		box-shadow:
			0px 2px 1px 0px #ffffff40 inset,
			0px -4px 2px 0px #00000040 inset,
			0px 0px 1px 4px #ffffff1a,
			0px 0px 100px 0px #2e7cf680;

.bg-loading {
    animation: bg-loading 2s infinite;
}

@keyframes bg-loading {
    0% {
        background: rgb(64 64 64 / var(--tw-bg-opacity, 1));
    }
    50% {
        background: rgb(38 38 38 / var(--tw-bg-opacity, 1));
    }
    100% {
        background: rgb(64 64 64 / var(--tw-bg-opacity, 1));
    }
}
