@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-50: 255 245 250;
        --color-primary-100: 255 235 245;
        --color-primary-200: 254 210 234;
        --color-primary-300: 254 180 219;
        --color-primary-400: 253 145 203;
        --color-primary-500: 252 90 176;
        --color-primary-600: 226 4 121;
        --color-primary-700: 195 3 106;
        --color-primary-800: 165 3 90;
        --color-primary-900: 115 2 62;
        --color-primary-950: 80 1 43;
    }
}

@media (min-height:820px) and (max-height:899px){
    .hot-left-arrow{
        margin-top: 206px !important;
    }
}
@media (min-height:768px) and (max-height:819px){
    .hot-left-arrow{
        margin-top: 166px !important;
    }
}
@media (max-height:767px){
    .hot-left-arrow{
        margin-top: 75px !important;
    }
}