@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-50: 255 245 250;
        --color-primary-100: 255 235 245;
        --color-primary-200: 254 210 234;
        --color-primary-300: 254 180 219;
        --color-primary-400: 253 145 203;
        --color-primary-500: 252 90 176;
        --color-primary-600: 226 4 121;
        --color-primary-700: 195 3 106;
        --color-primary-800: 165 3 90;
        --color-primary-900: 115 2 62;
        --color-primary-950: 80 1 43;
    }
}

@media (min-height: 820px) and (max-height: 899px) {
    .hot-left-arrow {
        margin-top: 206px !important;
    }
}
@media (min-height: 768px) and (max-height: 819px) {
    .hot-left-arrow {
        margin-top: 166px !important;
    }
}
@media (max-height: 767px) {
    .hot-left-arrow {
        margin-top: 75px !important;
    }
}

.tada {
    animation-name: tada;
    animation-duration: 1s;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
        background: linear-gradient(
            90deg,
            red,
            orange,
            yellow,
            green,
            blue,
            indigo,
            violet,
            black
        );
        background-size: 1000% 100%;
        background-position: 0% 25%;
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -1deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 1deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, -1deg);
    }

    99% {
        background-position: 100% 100%;
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}